@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  
    /* font-family: "Roboto", serif; */
    font-family: "Inter", serif;
}

.section{
    padding: 70px 0;
}

.home{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/kottp.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color: #fff;
   
}

.home .nav{
    padding: 10px 0;
    position: relative;
}

.container{
    width: 80%;
    margin: auto;
}

.nav-logo a{
    color: #ff305b;
    text-decoration: none;
    float: left;
    font-size: 24px;
    font-weight: 800;
    padding: 18px 0;
    
}

.nav-links ul{
    text-decoration: none;
    float: right;
    margin-top: 10px;
    
}

.nav-links ul li{
    float: left;
    list-style-type: none;
    padding: 15px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s color;
}

.nav-links ul li a:hover{
    text-decoration: none;
    color: #ff305b;
}

.clear-fix{
    clear: both;
}


.home .home-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-content h1{
    color: #ff305b;
    font-size: 70px;
}

.home .home-content p{
    font-size: 22px;
    margin: 20px;

}

/* End Section Home */

/* Start Section About */

.about{
    /* background-color: #00f; */
}

.about-img{
    float: left;
    width: 30%;
}

.about .about-img .brder{
    border: 8px solid #000;
    border-radius: 10px;
}
.about-img .brder .img img{
    width: 100%;
    border-radius: 10px;
}
.about-img .brder .img{
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
    
}
.about-img .brder .img .layer{
    position: absolute;
    top: 100%;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #333333c9;
    transition: .3s top;
    border-radius: 10px;
    text-align: center;
    
}
.about-img .brder .img .layer i{
    margin-top: 40%;
    padding: 10px;
    font-size: 32px;
    color: #fff;
    transition: 0.3s     color;
}

.about-img .brder .img .layer i:hover{
    color: #f00;
}
.about-img .brder .img:hover .layer{
   top: 0;  
}
.clr{
    clear: both;
}
ul{
    list-style: none;
}

.about-content{
    float: left;
    width: 60%;
    margin-left: 80px;
}

.about-content h2{
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 34px;
}

.about-content h2::before{
    content: "";
    width: 4px;
    height: 100%;
    background-color: #ff305b;
    position: absolute;
    left: 0;
}

.about-content p{
    margin-bottom: 15px;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 30px;
    border-bottom: dashed #333 2px;
}

.about-content ul li{
    float: left;
    width: 50%;
    padding-bottom: 20px;
}

.about-content ul li span{
  font-weight: bolder;
}

.about-content button{
    padding: 15px 20px;
    background-color: #ff305b;
    border-radius: 10px;
    color: #fff;
    border: solid #fff 1px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s color;
}
.about-content button i{
    margin-left: 5px;
}
.about-content button:hover{
    padding: 15px 20px;
    background-color: #EC2403;
    border-radius: 10px;
    color: #fff;
    border: solid #fff 1px;
    cursor: pointer;
}


/* Start Section Services */

.services{
    background-color: #eee;
}

.services h2{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.services h2::before{
    content: '';
    height: 12px;
    width: 80px;
    border-top: 2px solid #ff305b;
    border-bottom: 2px solid #ff305b;
    bottom: -22px;
}

.services h2::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #ff305b;
    bottom: -15px;

}

.services h2::before,.services h2::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.services .service-item{
    text-align: center;
    float : left;
    width: 25%;
    transition: 0.3s background-color;
    padding: 10px;
    margin-top: 30px;
}

.services .service-item:hover{
    background-color: #fff;
    border-radius: 10px;
}

.services .service-item i{
    margin-bottom: 10px;
    font-size: 30px;
    color: #ff305b;
    transform: 0.3s transform;
}

.services .service-item p{
   line-height: 25px;
}
.services .service-item:hover i{
    transform: scale(1.2);
}


.services .service-item h3{
    margin-bottom: 10px;
}

/* End Section SERVICES */

/* Start Section Portfolio */
.portfolio h2{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio h2::before{
    content: '';
    height: 12px;
    width: 80px;
    border-top: 2px solid #ff305b;
    border-bottom: 2px solid #ff305b;
    bottom: -22px;
}

.portfolio h2::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #ff305b;
    bottom: -15px;

}

.portfolio h2::before,.portfolio h2::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio ul{
    width: 50%;
    margin: 0 auto;
}

.portfolio ul li{
    float: left;
    text-align: center;
    width: 25%;
    margin-top: 20px;
}

.portfolio ul li a{
    text-decoration: none;
    color: #000;
    transition: 0.3s color;
    position: relative;
    margin-bottom: 30px;
}



.portfolio ul li a:hover{
    color: #ff305b;
}



.portfolio .main-section{
    margin-top: 30px;
}

.portfolio .main-section .portfolio-item{
    width: 33.333333%;
    float: left;
    padding: 10px;
}
.portfolio .main-section .portfolio-item .img{
    position: relative;
    overflow: hidden;
}

.portfolio .main-section .portfolio-item img{
    width: 100%;
}

.portfolio .main-section .portfolio-item .layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333333c9;
    opacity: 0;
    transition: 0.3s opacity;
}

.portfolio .main-section .portfolio-item .img:hover .layer{
   opacity: 1;
}
.portfolio .main-section .portfolio-item .layer i{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ff305b;
}


/* End Section Portfolio */

/* Start Section Statistic */

.statistic{
    background-color: #eee;
}

.statistic .stat-item{
    float: left;
    width: 25%;
    text-align: center;
}

.statistic .stat-item i{
   color: #ff305b;
   font-size: 30px;
   margin-bottom: 10px;
}

.statistic .stat-item .stat-desc h3{
    margin-bottom: 6px;
}

/* End Section Statistic */

/* Start Section Client */

.client h2{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.client h2::before{
    content: '';
    height: 12px;
    width: 80px;
    border-top: 2px solid #ff305b;
    border-bottom: 2px solid #ff305b;
    bottom: -22px;
}

.client h2::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #ff305b;
    bottom: -15px;

}

.client h2::before,.client h2::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.client .client-item{
    background-color: #eee;
    width: 60%;
    margin: 80px auto;
    padding: 40px;
    border-radius: 10px;
    position: relative;

}
 
.client .client-item .item-img{
    position: relative;
    z-index: 2;
    float: left;
    width: 30%;
    text-align: center;
    padding-right: 30px;
}

.client .client-item .item-img img{
    border-radius: 50%;
    width: 150px;
}
.client .client-item .item-content{
    float: left;
    width: 70%;
}

.client .client-item .item-content .brdr{
    border: 100px #ff305b solid;
    position: absolute;
    top: 0;
    left: 0;
    border-color: #ff305b transparent transparent #ff305b;
    
}


.client .client-item .item-content h3{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.client .client-item .item-content span{
    color: gray;
}

.client .client-item .item-content p{
    margin-top: 10px;
    line-height: 30px;
}
.client .client-item .item-content .rating{
    margin-top: 10px;
    color: rgba(255, 174, 0, 0.587);
}


.client .slide{
    background-color: yellow;
    width: 50%;
    margin:0 auto;
    position: relative;
}

.client .slide .next{
    width: 30px;
    height: 10px;
    background-color: #ff305b;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30%;
}

.client .slide .prev{
    width: 20px;
    height: 10px;
    background-color:transparent;
    border: #ff305b solid 1px;
    float: left;
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
    border-radius: 50%;
}

/* End Section Client */

/* Start Section Blog */

.blog{
    background-color: #eee;
}

.blog h2{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.blog h2::before{
    content: '';
    height: 12px;
    width: 80px;
    border-top: 2px solid #ff305b;
    border-bottom: 2px solid #ff305b;
    bottom: -22px;
}

.blog h2::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #ff305b;
    bottom: -15px;

}

.blog h2::before,.blog h2::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blog .main-section .blog-item{
    width: 31.333%;
    float: left;
    background-color: #fff;
    margin: 10px;
}

.blog .main-section .blog-item .img img{
    width: 100%;
}

.blog .main-section .blog-item .blog-content{
    padding: 20px 40px;
}

.blog .main-section .blog-item .blog-content div{
   margin-bottom: 10px;
}

.blog .main-section .blog-item .blog-content h3{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.blog .main-section .blog-item .blog-content p{
    margin-bottom: 10px;
    line-height: 30px;
}
.blog .main-section .blog-item .blog-content p a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

/* End Section Blog */

/* Start Section Contact */

/* .contact{
    background-color: #eee;
} */

.contact h2{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.contact h2::before{
    content: '';
    height: 12px;
    width: 80px;
    border-top: 2px solid #ff305b;
    border-bottom: 2px solid #ff305b;
    bottom: -22px;
}

.contact h2::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #ff305b;
    bottom: -15px;

}

.contact h2::before,.contact h2::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.contact .form{
    width: 60%;
    margin: 80px auto;
}

.contact .form #name{
    width: 45%;
    padding: 15px;
    /* border-radius: 10px; */
    float: left;
    border-radius: 7px;
    border: 1px #ff305b solid;
}

.contact .form #email{
    width: 45%;
    padding: 15px;
    /* border-radius: 10px; */
    float: right;
    border-radius: 7px;
    border: 1px #ff305b solid;
}

.contact .form #subject{
    width: 100%;
    padding: 15px;
    /* border-radius: 10px; */
    float: left;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px #ff305b solid;
}

.contact .form #desc{
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    float: left;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px #ff305b solid;
}

.contact .form button{
    float : left;
    padding: 15px 20px;
    background-color: #ff305b;
    color: #fff;
    margin-top: 20px;
    border: 1px solid #ff305b;
    border-radius: 10px;
}


.footer{
    background-color: #333;
    padding: 60px;
    color: #fff;
}

.footer .item{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.footer .item p{
    margin-top: 20px;
    font-size: 22px;
}


.footer .item i{
    padding: 10px;
    font-size: 22px;
    transition: 0.3s color;
    cursor: pointer;
}

.footer .item i:hover{
   color : #ff305b;
}

@media only screen and (max-width : 768px){
    .home .home-content h1{
        font-size: 50px;
    }
    .nav-links ul{
        position: absolute;
        width: 100%;
        left: 0;
        top: 90%;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: 1s all;
        background-color: #ff305b;
    }
    .nav-links ul li{
        float: none;
        padding: 15px;
    }

    .icon{
        width: 30px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon span{
        width: 100%;
        height: 4px;
        display: inline-block;
        position: absolute;
        background-color: #ff305b;
        transition: .5s all;
    }

    .icon span:nth-child(1){
        top: 0;
    }
    .icon span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    .icon span:nth-child(3){
        bottom: 0;
    }

    .icon:hover + ul{
        opacity: 1;
        visibility: visible;
    }

    .icon:hover span:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .icon:hover span:nth-child(2){
        opacity: 0;
    }
    .icon:hover span:nth-child(3){
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .home .home-content h1{
        color: #ff305b;
        font-size: 50px;
    }

    /* Start Section About */

    .about .about-content, .about .about-img{
        width: 100%;
        margin: 0 0 20px 0;
    }

    .about-content ul li{
        float: left;
        width: 100%;
        padding-bottom: 20px;
    }
    
}

@media only screen and (max-width:992px) {
    .about .about-content, .about .about-img{
        width: 48%;
        margin: 0;
    }

    .about .about-img{
        margin-right: 2%;
    }

    .about .about-img .brder{
        border: none;
    }

    .about .about-img .brder .img{
        top: 0;
        left: 0;
    }
    .services .service-item{
        text-align: center;
        float : left;
        width: 50%;
        transition: 0.3s background-color;
        padding: 10px;
        margin-top: 30px;
    }

    .statistic .stat-item{
        float: left;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }
    

}

@media only screen and (max-width:768px) {
    .about .about-content, .about .about-img{
        width: 100%;
        margin: 0 0 20px 0;
    }

    .about-content ul li{
        float: left;
        width: 100%;
        padding-bottom: 20px;
    }

    .services .service-item{
        text-align: center;
        float : left;
        width: 100%;
        transition: 0.3s background-color;
        padding: 10px;
        margin-top: 30px;
    }

    .portfolio .main-section .portfolio-item{
        width: 100%;
        float: left;
        padding: 10px;
    }
    .portfolio ul li{
        float: left;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .statistic .stat-item{
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .client .client-item{
        width: 100%;
    }
    .client .client-item .item-content, .client .client-item .item-img{
        width: 100%;
    }
    

}